@import "/src/scss/variables";
// Start Section Contact Us
.contact-us {
  padding: 100px 0;
  .heading {
    font-size: 3.5rem;
    color: $red-color;
    span {
      color: $main-color;
    }
  }
  .card {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: $main-border-radius;
    text-align: center;
    min-height: 25rem;
    .icon {
      i {
        font-size: 2.5rem;
        border-radius: 50%;
        border: 0.1rem solid rgba(0, 0, 0, 0.3);
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        margin: 1.4rem auto;
        @extend %text-stroke;
      }
    }
    .card-body {
      h3 {
        font-size: 2.2rem;
        padding: 0.8rem 0;
        color: $main-color;
      }
      p {
        font-size: 1.5rem;
        line-height: 2;
        color: $gray-color;
      }
    }
  }
  .contact-info {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: $main-border-radius;
    padding: 2rem;
    h1 {
      font-size: 3rem;
      color: $main-color;
    }
    .contact-form {
      button {
        @include btn-main;
      }
      .form-control {
        font-size: 1.7rem;
        padding: 0.8rem;
      }
      input {
        border-radius: $main-border-radius;
      }
    }
  }
  .map-info {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: $main-border-radius;
    padding: 2rem;
    .map {
      width: 100%;
      height: 39.5rem;
    }
  }
}
// End Section Contact Us
